<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
    {% comment %} <link rel="stylesheet" type="text/css" href="/static/resource/css/normalize.css" /><!--CSS RESET-->
	<link rel="stylesheet" type="text/css" href="/static/resource/css/htmleaf-demo.css"><!--演示页面样式，使用时可以不引用--> {% endcomment %}
	<!--awesome font include-->
        <link type="text/css" rel="stylesheet" href="/static/resource/assets/css/font-awesome.min.css" />
        <!--include plugin css--> 
        <link type="text/css" rel="stylesheet" href="/static/resource/src/jquery-rvnm.css" />
</head>
<body>
	<nav id="navbar" class="">
            <ul>
                <li>
                    <span class="spliter">
                        <i class="fa fa-cart-plus"></i>
                        Aliquam dictum
                    </span>
                </li>
                <li>
                    <a href="#">  
                        <i class="fa fa-bell-o"></i>
                        项目管理
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                项目列表
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                接口库
                            </a>
                        </li>
                        <li>
                            <a href="/case_list/">
                                用例库
                            </a>
                        </li>

                    </ul>

                </li>                
            </ul>
        </nav>

	
	<script src="/static/resource/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <!--include plugin js-->
        <script type="text/javascript" src="/static/resource/src/jquery-rvnm.js"></script>
        <!--js run code-->
        <script type="text/javascript">
            $(function () {
                var rvnMenu = $("#navbar").rvnm({
//                    mode: 'mobile',
//                    responsive: false,
                    searchable: true,
                    theme: 'dark-lesb'
                });
                console.log(rvnMenu);
//                rvnMenu.setMode('minimal');
                rvnMenu.setTheme('dark-ruby');
            });
        </script>

        <div id="page1">

        </div>
        <script>
            //一旦打开basic.html，那么就运行这句代码，这句代码会把id为page1的那个空div，给它的内容加载另一个url返回的页面
            /*
                id选择器 https://www.runoob.com/jquery/jquery-selectors.html
                这个url 我定位：'/child/'+'{{ whichHTML }}/{{ oid }}/' 它会返回我们真正的要访问的页面 home.html 其中的/child/一级路由只是我的个人习惯，以便自己知道这个路由是来找孩子（子页面）的。后面俩个 {{大括号，我们前面说了，浏览器会识别成变量，把我们的俩个参数的值都替换进来。这个whichHTML 就是我们真实要拿到的html的名字。后面的oid，也就是我预留出来的一个参数。以后可能用的上。万一welcome去接儿子home,结果home说你怎么证明你是我爸爸？拿出来证明。证明对了，儿子就跟着回家，证明不对，那么就👮‍♀️同志跟你回家了，虽然我们今天的教程用不上这个证明参数，但是后续是一定用上的相信我。
            */
            $('#page1').load('/child/'+'{{whichHTML}}/{{oid}}/')
        </script>
</body>
</html>